body {
    margin: 0 0px 10px;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    accent-color: #666;
}

.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: white;
}


.hover-btn {
    background-color: rgb(1, 1, 10);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hover-btn:hover {
    background-color: rgb(1, 1, 10);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;  /* Removes line from under links */
    padding: 5px 10px;
}

.navbar a:hover {
    background-color:  rgb(1, 1, 10);
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }

    .page-content {
        padding: 15px 10px;
    }
}

